################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VBALL.Identity/Identity.Application/bin/Debug/net8.0
/VBALL.Identity/Identity.Application/obj
/VBALL.Identity/Identity.Domain/bin/Debug/net8.0
/VBALL.Identity/Identity.Domain/obj
/VBALL.Identity/Identity.Infrasructure/bin/Debug/net8.0
/VBALL.Identity/Identity.Infrasructure/obj
/VBALL.Identity/Identity.Presentation/bin/Debug/net8.0
/VBALL.Identity/Identity.Presentation/obj
/VBALL.Schedule/vs
/VBALL.Identity/.vs
/.idea 
/VBALL.Identity/Identity.Tests/obj
/VBALL.Notifications/.vs
/VBALL.Notifications/Notifications.Presentation/obj
/VBALL.Schedule/Schedule.Presentation/obj
/VBALL.Schedule/.vs
/Identity.Infrasructure/obj
/VBALL.Client/node_modules
**/bin
**/obj
VBALL.Identity/Identity.Infrastructure/Migrations/20250503210402_Initial.cs
VBALL.Identity/Identity.Infrastructure/Migrations/20250503210402_Initial.Designer.cs
VBALL.Identity/Identity.Infrastructure/Migrations/20250522190532_TokerModelCreate.cs
VBALL.Identity/Identity.Infrastructure/Migrations/20250522190532_TokerModelCreate.Designer.cs
VBALL.Identity/Identity.Infrastructure/Migrations/20250524163150_usersUpdate.cs
VBALL.Identity/Identity.Infrastructure/Migrations/20250524163150_usersUpdate.Designer.cs
VBALL.Identity/Identity.Infrastructure/Migrations/ApplicationDbContextModelSnapshot.cs
**/.idea/
**/.vscode
**/.vs
**/Migrations
