################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea 
**/bin/
**/obj/
**/.idea/
**/.vs/
**/.vscode/

**/appsettings.Development.json
**/docker-compose.yml
**/docker-compose.yaml

**/node_modules/
**/target
**/Migrations
